body {
    margin: 0;
  }
  .point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .round {
    transform: rotate(90deg);
    transition: all 1s ease-in-out;
    
    /* SVG */
    fill: none;
    stroke: red;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 0 999;
  }